[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
[submodule "themes/themes/hugo-coder"]
	path = themes/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
